body {
    font-family: MV Boli, sans-serif;
    background: linear-gradient(15deg, #1e1b50, #501b4e, #501b1b, #50501b, #1b501c);
    text-align: center;
	color: white;
	text-decoration: underline;
}

h1 {
    color: #fffe3f;
	font-family: Exotc350 DmBd BT; 
	text-decoration: underline;
    text-decoration-style: double;
    text-decoration-color: #d0fdfe;
    font-size: 36px;
}

.box {
    background: linear-gradient(315deg, #240140, #001304, #69000d, #001041, #403e64);
    padding: 20px;
    margin: 20px auto;
    width: 40%;
    border-radius: 40px 30px 20px 15px;
    box-shadow: 8px 4px 12px rgba(0,0.6,0,0.2);
}

input {
    padding: 8px;
    width: 80%;
    margin: 10px 0;
	border-radius: 8px 30px 20px 15px;
    box-shadow: 8px 4px 12px rgba(0,0.6,0,0.2);
}

button {
    background-color: #fffe3f;
    color: white;
    padding: 10px;
    border: none;
	border-radius: 80px 30px 20px 85px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}